{% extends "base.html" %}

{% block title %}
Student Registration
{% endblock %}

{% block back_button %}
<button class="back-btn" onclick="history.back()">
    ← Back
</button>
{% endblock %}

{% block content %}
<div class="form-container">

    <h2>Student Registration</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}

    <form action="/register" method="POST">

        <div class="form-group">
            <label for="name">Full Name</label>

            <input
                type="text"
                id="name"
                name="name"
                required
            >
        </div>

        <div class="form-group">
            <label for="email">Email</label>

            <input
                type="email"
                id="email"
                name="email"
                required
            >
        </div>
                <div class="form-group">
            <label>Department</label>

            <select name="department" required>

                <option value="">Select Department</option>

                <option>CSE/AI</option>
                <option>ER</option>
                <option>ECE</option>
                <option>EEE</option>
                <option>Mechanical</option>
                <option>Civil</option>
                <option>Architecture</option>

            </select>
        </div>
        <div class="form-group">
            <label>Year</label>

            <select name="year" required>

                <option value="">Select Year</option>

                <option value="1">1st Year</option>

                <option value="2">2nd Year</option>

                <option value="3">3rd Year</option>

                <option value="4">4th Year</option>

            </select>
        </div>
        <div class="form-group">
            <label for="password">Password</label>

            <input
                type="password"
                id="password"
                name="password"
                required
            >
        </div>

        <button type="submit" class="button">
            Register
        </button>

    </form>

</div>

{% endblock %}