{% extends "base.html" %}

{% block title %}
Book Slot
{% endblock %}

{% block back_button %}
<button class="back-btn" onclick="history.back()">
    ← Back
</button>
{% endblock %}

{% block content %}

<div class="form-container">

    <h2>Book Resource</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <div class="form-card booking-form-card">
    <form method="POST" class="booking-form">

        <div class="form-group form-group-wide">

            <label>Resource</label>

            <input
                type="text"
                value="{{ resource.name }}"
                readonly
            >
            

        </div>

        <div class="form-group form-group-wide">

            <label>Date</label>

            <input
                type="date"
                name="booking_date"
                required
            >

        </div>

        <div class="form-row two-cols">

            <div class="form-group">

                <label>Start Time</label>

                <input
                    type="time"
                    name="start_time"
                    required
                >

            </div>

            <div class="form-group">

                <label>End Time</label>

                <input
                    type="time"
                    name="end_time"
                    required
                >

            </div>

        </div>

        <div class="form-group form-group-wide">
            <label>Reason for Booking</label>

            <textarea
                name="reason"
                rows="4"
                required
                placeholder="Example: seminar, lab session, meeting, workshop"
            ></textarea>
        </div>

        <button class="button booking-submit-btn">
            Book Slot
        </button>

    </form>
    </div>

</div>

{% endblock %}
