{% extends "base.html" %}

{% block title %}
Book Slot
{% endblock %}

{% block back_button %}
<button class="back-btn" onclick="history.back()">
    ← Back
</button>
{% endblock %}

{% block content %}

<div class="form-container">

    <h2>Book Resource</h2>
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <div class="form-card">
    <form method="POST">

        <div class="form-group">

            <label>Resource</label>

            <input
                type="text"
                value="{{ resource.name }}"
                readonly
            >

        </div>

        <div class="form-group">

            <label>Date</label>

            <input
                type="date"
                name="booking_date"
                required
            >

        </div>

        <div class="form-group">

            <label>Start Time</label>

            <input
                type="time"
                name="start_time"
                required
            >

        </div>

        <div class="form-group">

            <label>End Time</label>

            <input
                type="time"
                name="end_time"
                required
            >

        </div>
        <div class="form-group">
            <label>Reason for Booking</label>

            <textarea
                name="reason"
                rows="4"
                required
            ></textarea>
        </div>

        <button class="button">
            Book Slot
        </button>

    </form>
    </div>

</div>

{% endblock %}
